body {
    font-family: Arial, sans-serif;
}

img {
    display: block;
    height: 92px;
    width: 272px;
    padding-top: 180px;
    margin: auto;
}

i {
    color: #9aa0a6;
    padding: 15px;
    position: absolute;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(217, 48, 37);
    margin: 0 0 0 30px;
}

label {
    font-size: 13px;
    color: #222;
}

a {
    display: inline-block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration-line: underline;
}

.border {
    border-bottom: 1px solid rgb(235, 235, 235);
    margin: 20px 0;
}

.image-label {
    color: #4285f4;
    font-size: 16px;
    position: relative;
    bottom: 15px;
    left: 105px;
}

.image-container {
    position: relative;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.search-bar-container {
    height: 40px;
    width: 482px;
    display: flex;
    margin: 30px auto;
    align-items: center;
}

.search-bar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 100%;
    width: 100%;
    padding-left: 40px;
    font-size:17px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 36px;
}

.search-button {
    background-color: #f2f2f2;
    color: #5f6368;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    height: 100%;
    width: 130px;
    margin: 8px;
}

.advanced-search-button {
    background-color: rgb(77, 144, 254);
    color: white;
    border: 2px solid rgb(48, 121, 237);
    border-radius: 2px;
    font-size: 11px;
    font-weight: 700;
    height: 100%;
    width: 120px;
    height: 36px;
    grid-column: 2 / span 1;
    justify-self: end;
}

.search-button:hover {
    border: 1px solid rgb(195, 195, 195);
    box-shadow: 0 0 2px rgb(195, 195, 195);
    cursor: pointer;
}

.advanced-search-button:hover {
    background-color: rgb(48, 121, 237);
}

.search-bar:focus, .search-bar:hover {
    outline: none;
    box-shadow: 0 0 7px #dfe1e5;
}

.advanced-search-grid {
    display: grid;
    grid-template-columns: 182px auto 370px;
    grid-gap: 20px 10px;
    margin: 10px 0;
    align-items: center;
    max-width: 1330px;
    margin-left: 30px;
}

.advanced-search-input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.advanced-search-input:focus {
    border: 1px solid #4d90fe;
}

.search-label {
    color: #555;
    font-size: 11px;
}

.search-label-mono {
    color: #666;
    font-family: monospace;
}

#find-pages {
    font-size: 16px;
    color: #333;
}

#example {
    font-size: 13px;
    color: #777;
    font-weight: 700;
}
