textarea {
    min-height: 400px;
}

.mail-item .row {
    border: 1px solid black;
    padding: 5px 5px;
    cursor: pointer;
}

.mail-item:hover {
    color: #0275d8;
}

.mail-item .col, .col-6 {
    padding: 0;
}

.mail-item .sender {
    font-weight: bold;
}

.mail-item .timestamp {
    color: #888;
    text-align: right;
}

#email-view p {
    margin: 2px;
}

#email-view button {
    margin-top: 10px;
}