#taskFormBudget {
    border-radius: 0 .25rem .25rem 0;
}

#postFormDatePicker {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: 0;
    padding: .375rem .75rem;
    color: #495057;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.postFormDatePickerMsg {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

#postFormDatePicker.valid,  #postFormDatePicker.valid:focus {
    border-color: #28a745;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

#postFormDatePicker.non-valid {
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

#postFormDatePicker.valid:focus {
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}

#postFormDatePicker.non-valid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

#postFormDatePicker.not-validated:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}